.subheadline {
  font-size: 22px;
  font-weight: bold;
  text-align: left;
  margin-top: 50px;
}

header {
  background: #000000;
  --bs-navbar-color: #000;
}
header .navbar-toggler {
  border: var(--bs-border-width) solid #ffffff;
}
header .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
header #primary-navigation {
  padding: 15px 0;
}
header #primary-navigation .navbar-brand img {
  max-width: 220px;
}
header #primary-navigation .navbar-nav a.nav-link,
header #primary-navigation .navbar-nav a.nav-link.active {
  border: 3px solid #F4F4F4;
  color: #ffffff;
  padding: 0.5rem 0.75rem;
}
header #primary-navigation .navbar-nav a.nav-link:focus, header #primary-navigation .navbar-nav a.nav-link:hover,
header #primary-navigation .navbar-nav a.nav-link.active:focus,
header #primary-navigation .navbar-nav a.nav-link.active:hover {
  border-color: #fdd037;
  color: #000000;
  background-color: #fdd037;
}

body {
  --bs-body-bg: $white;
  --bs-body-font-family: "Poppins", sans-serif;
}
body h1 {
  font-size: 80px;
}
body .bg-dark {
  background: #000000;
  color: #ffffff;
}
body h1, body h2 {
  font-weight: 800;
}
body h3 {
  font-weight: 500;
}
body h4, body h5 {
  font-weight: 600;
}
body h6 {
  font-weight: 400;
}
body .btn.btn-primary {
  background: #00D8FE;
  color: #000000;
}
body a {
  color: #000000;
  text-decoration: underline;
}
body a:hover {
  color: #000000;
  outline: 3px solid #000000;
}
@media (min-width: 768px) {
  body .image-overlay {
    overflow: hidden;
  }
  body .image-overlay:before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    opacity: 0.8;
    top: 0;
    left: 0;
    background: #000000;
  }
}
@media (min-width: 768px) {
  body .image-overlay .center-text {
    color: #ffffff;
    left: 15px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 100%;
  }
}
body footer {
  background: #000000;
  padding: 35px;
  color: #ffffff;
}
body footer a {
  color: #ffffff;
}
body footer a:hover, body footer a:focus {
  color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  .bg-dark,
  body {
    --bs-body-bg: #000;
    --bs-body-color: #FFF;
    --bs-nav-link-color: #FFF;
  }
  .bg-dark .presentation .content,
  body .presentation .content {
    background-color: #000000;
  }
}
h2 {
  position: relative;
  text-align: center;
  font-size: 17px;
  display: inline;
  font-weight: 700;
}
h2::before {
  position: absolute;
  content: "";
  height: 3px;
  bottom: 6px;
  margin: 0 auto;
  left: 5px;
  right: 5px;
  background: #00D8FE;
  z-index: -1;
}

h3 {
  text-align: center;
  font-size: 18px !important;
  margin-bottom: 10px;
}

.presentation {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.presentation h2 {
  display: block;
  width: 100%;
}
.presentation .content {
  margin: 0 15px;
  padding: 20px 45px;
  background: white;
  border-radius: 5px;
  position: relative;
}
.presentation .content::before {
  position: absolute;
  content: "";
  height: 30px;
  top: -10px;
  margin: 0 auto;
  left: -10px;
  right: -10px;
  background: #FDD037;
  z-index: -1;
  border-radius: 5px 5px 0 0;
}
.presentation .content ul.list {
  list-style: none;
  padding-left: 10px;
}
.presentation .content ul.list li {
  margin-bottom: 10px;
  font-size: 14px;
}
.presentation .content ul.list li::before {
  content: "_";
  color: #00D8FE;
}
.presentation .block-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.presentation .block {
  padding: 20px 12px;
  border-radius: 5px;
  font-size: 14px;
}
.presentation .block:hover {
  background: rgba(253, 208, 55, 0.2509803922);
  cursor: default;
}
.presentation .block span {
  font-size: 16px;
  font-weight: 700;
}
.presentation .subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  margin: 10px 0;
}