header {
  background: #000;
}
header .navbar-nav a.nav-link,
header .navbar-nav a.nav-link.active {
  border: 2px solid #F4F4F4;
  color: #fff;
}
header .navbar-nav a.nav-link:focus, header .navbar-nav a.nav-link:hover,
header .navbar-nav a.nav-link.active:focus,
header .navbar-nav a.nav-link.active:hover {
  border-color: #fdd037;
  color: #000;
  background-color: #fdd037;
}

body {
  --bs-body-bg: $white;
}
body .bg-dark {
  background: #000;
  color: #fff;
}
body a {
  color: #000;
  text-decoration: underline;
}
body a:hover {
  color: #000;
  outline: 3px solid #000;
}
@media (min-width: 768px) {
  body .image-overlay img {
    opacity: 0.3;
  }
}
@media (min-width: 768px) {
  body .image-overlay .center-text {
    left: 15px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  .bg-dark,
  body {
    --bs-body-bg: $black;
    --bs-body-color: $white;
    --bs-nav-link-color: $white;
  }
  #primary-navigation .navbar-brand {
    filter: invert(100%);
  }
}