// colors
$white: #ffffff;
$lightgray: #F4F4F4;
$black: #000000;
$yellow: #fdd037;
$lightblue: #00D8FE;

.subheadline {
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    margin-top: 50px;
}

header {
    background: $black;
    --bs-navbar-color: #000;

    .navbar-toggler {
        border: var(--bs-border-width) solid $white;

        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
        }
    }

    #primary-navigation {
        padding: 15px 0;

        .navbar-brand {
            img {
                max-width: 220px;
            }

        }

        .navbar-nav {

            a.nav-link,
            a.nav-link.active {
                border: 3px solid $lightgray;
                color: $white;
                padding: .5rem .75rem;

                &:focus,
                &:hover {
                    border-color: $yellow;
                    color: $black;
                    background-color: $yellow;
                }
            }
        }
    }
}

body {
    --bs-body-bg: $white;
    --bs-body-font-family: "Poppins", sans-serif;

    h1 {
        font-size: 80px;
    }

    .bg-dark {
        background: $black;
        color: $white;
    }

    h1, h2 {
        font-weight: 800;
    }

    h3 {
        font-weight: 500;
    }

    h4, h5 {
        font-weight: 600
    }

    h6 {
        font-weight: 400;
    }

    .btn {
        &.btn-primary {
            background: $lightblue;
            color: $black;
        }
    }

    a {
        color: $black;
        text-decoration: underline;

        &:hover {
            color: $black;
            outline: 3px solid $black;
        }
    }

    .image-overlay {

        @media (min-width: 768px) {
            overflow: hidden;
            &:before {
                content: "";
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                opacity: .8;
                top: 0;
                left: 0;
                background: $black;
            }
        }

        .center-text {
            @media (min-width: 768px) {
                color: $white;
                left: 15px;
                position: absolute;
                transform: translateY(-50%);
                top: 50%;
                width: 100%;
            }

        }

    }

    footer {
        background: $black;
        padding: 35px;
        color: $white;

        a {
            color: $white;

            &:hover,
            &:focus {
                color: $white;
            }

        }
    }
}

@media (prefers-color-scheme: dark) {

    .bg-dark,
    body {
        --bs-body-bg: #000;
        --bs-body-color: #FFF;
        --bs-nav-link-color: #FFF;

        .presentation .content {
            background-color: $black;
        }
    }
}

h2 {
  position: relative;
  text-align: center;
  font-size: 17px;
  display: inline;
  font-weight: 700;
  &::before {
    position: absolute;
    content: '';
    height: 3px;
    bottom: 6px;
    margin: 0 auto;
    left: 5px;
    right: 5px;
    background: #00D8FE;
    z-index: -1;
  }
}

h3 {
  text-align: center;
  font-size: 18px !important;
  margin-bottom: 10px;
}

.presentation{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  h2 {
    display: block;
    width: 100%;
  }

  .content {
    margin: 0 15px;
    padding: 20px 45px;
    background:white;
    border-radius: 5px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      height: 30px;
      top: -10px;
      margin: 0 auto;
      left: -10px;
      right: -10px;
      background: #FDD037;
      z-index: -1;
      border-radius: 5px 5px 0 0;
    }

    ul.list {
      list-style: none;
      padding-left:10px;
      li {
        margin-bottom: 10px;
        font-size: 14px;
      }
      li::before {
        content: "_";
        color: #00D8FE;
      }
    }
  }
  .block-list {
    display: flex;
    flex-direction: column;
    gap:15px;
  }
  .block{
    &:hover{
      background: #FDD03740;
      cursor: default;
    }
    span {
      font-size: 16px;
      font-weight: 700;
    }
    padding: 20px 12px;
    border-radius: 5px;
    font-size: 14px;
  }
  .subtitle{
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    margin: 10px 0;
  }
}
