// colors
$white: #fff;
$lightgray: #F4F4F4;
$black: #000;
$yellow: #fdd037;

header {
    background: $black;

    .navbar-nav {

        a.nav-link,
        a.nav-link.active {

            border: 2px solid $lightgray;
            color: $white;

            &:focus,
            &:hover {
                border-color: $yellow;
                color: $black;
                background-color: $yellow;
            }
        }
    }

}

body {
    --bs-body-bg: $white;

    .bg-dark {
        background: $black;
        color: $white;
    }

    a {
        color: $black;
        text-decoration: underline;

        &:hover {
            color: $black;
            outline: 3px solid $black;
        }
    }

    .image-overlay {
        img {
            @media (min-width: 768px) {
                opacity: .3
            }
        }

        .center-text {
            @media (min-width: 768px) {
                left: 15px;
                position: absolute;
                transform: translateY(-50%);
                top: 50%;
                width: 100%;
            }

        }

    }
}

@media (prefers-color-scheme: dark) {

    .bg-dark,
    body {
        --bs-body-bg: $black;
        --bs-body-color: $white;
        --bs-nav-link-color: $white;
    }

    #primary-navigation {
        .navbar-brand {
            filter: invert(100%);
        }
    }
}
