// colors
$white: #fff;
$lightgray: #F4F4F4;
$black: #000;
$yellow: #fdd037;

header {
    background: $black;

    .navbar-nav {

        a.nav-link,
        a.nav-link.active {

            border: 2px solid $lightgray;
            color: $white;

            &:focus,
            &:hover {
                border-color: $yellow;
                color: $black;
                background-color: $yellow;
            }
        }
    }

}

/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v20-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-800 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/poppins-v20-latin-800.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-800.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    --bs-body-bg: $white;
    --bs-body-font-family: "Poppins", sans-serif;

    .bg-dark {
        background: $black;
        color: $white;
    }

    h1,h2 {
        font-weight: 800;
    }
    h3 {
        font-weight: 500;
    }
    h4,h5 {
        font-weight: 600
    }
    h6 {
        font-weight: 400;
    }

    a {
        color: $black;
        text-decoration: underline;

        &:hover {
            color: $black;
            outline: 3px solid $black;
        }
    }

    .image-overlay {
        img {
            @media (min-width: 768px) {
                opacity: .3
            }
        }

        .center-text {
            @media (min-width: 768px) {
                left: 15px;
                position: absolute;
                transform: translateY(-50%);
                top: 50%;
                width: 100%;
            }

        }

    }
}

@media (prefers-color-scheme: dark) {

    .bg-dark,
    body {
        --bs-body-bg: $black;
        --bs-body-color: $white;
        --bs-nav-link-color: $white;
    }

    #primary-navigation {
        .navbar-brand {
            filter: invert(100%);
        }
    }
}
